@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}


body {
  background: var(--background);
  color: var(--foreground);
}

.centered-div {
  display: flex;
  justify-content: center; /* Centers horizontally #ffffff*/
  align-items: center;     /* Centers vertically */
  height: 100vh; 
}
